
html {
    background-color:lightskyblue; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

pre{
    font-family: 'Patrick Hand', cursive;
}

h1 {text-align: center; font-size: 100 px}

.hyper1 {
    background-color:lightskyblue;
}

.hyper1:hover {
    color:lightcoral;
    background-color:greenyellow;
}